In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [33]:
df=pd.read_csv('Andhra_Health_Data.csv')
df.head()

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,4,45,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Telikipenta,Sarubujjili,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,5,54,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Thandemvalasa,Srikakulam,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D

In [34]:
df.shape

(479688, 23)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479688 entries, 0 to 479687
Data columns (total 23 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sno               479688 non-null  int64
 1   AGE               479688 non-null  int64
 2   SEX               479688 non-null  object
 3   CASTE_NAME        479688 non-null  object
 4   CATEGORY_CODE     479688 non-null  object
 5   CATEGORY_NAME     479688 non-null  object
 6   SURGERY_CODE      479688 non-null  object
 7   SURGERY           479688 non-null  object
 8   VILLAGE           479688 non-null  object
 9   MANDAL_NAME       479688 non-null  object
 10  DISTRICT_NAME     479688 non-null  object
 11  PREAUTH_DATE      479688 non-null  object
 12  PREAUTH_AMT       479688 non-null  int64
 13  CLAIM_DATE        479688 non-null  object
 14  CLAIM_AMOUNT      479688 non-null  int64
 15  HOSP_NAME         479688 non-null  object
 16  HOSP_TYPE         479688 non-null  object
 17  HOSP_DISTRICT     479688 non-null  object
 18  SURGERY_DATE      479688 non-null  object
 19  DISCHARGE_DATE    475128 non-null  object
 20  Mortality Y / N   479688 non-null  object
 21  MORTALITY_DATE    10122 non-null   object
 22  SRC_REGISTRATION  479688 non-null  object
dtypes: int64(4), object(19)
memory usage: 84.2+ MB

In [36]:
print(df.isnull().sum())

Sno                      0
AGE                      0
SEX                      0
CASTE_NAME               0
CATEGORY_CODE            0
CATEGORY_NAME            0
SURGERY_CODE             0
SURGERY                  0
VILLAGE                  0
MANDAL_NAME              0
DISTRICT_NAME            0
PREAUTH_DATE             0
PREAUTH_AMT              0
CLAIM_DATE               0
CLAIM_AMOUNT             0
HOSP_NAME                0
HOSP_TYPE                0
HOSP_DISTRICT            0
SURGERY_DATE             0
DISCHARGE_DATE        4560
Mortality Y / N          0
MORTALITY_DATE      469566
SRC_REGISTRATION         0
dtype: int64

In [37]:
df.isnull().mean()*100

Sno                  0.000000
AGE                  0.000000
SEX                  0.000000
CASTE_NAME           0.000000
CATEGORY_CODE        0.000000
CATEGORY_NAME        0.000000
SURGERY_CODE         0.000000
SURGERY              0.000000
VILLAGE              0.000000
MANDAL_NAME          0.000000
DISTRICT_NAME        0.000000
PREAUTH_DATE         0.000000
PREAUTH_AMT          0.000000
CLAIM_DATE           0.000000
CLAIM_AMOUNT         0.000000
HOSP_NAME            0.000000
HOSP_TYPE            0.000000
HOSP_DISTRICT        0.000000
SURGERY_DATE         0.000000
DISCHARGE_DATE       0.950618
Mortality Y / N      0.000000
MORTALITY_DATE      97.889878
SRC_REGISTRATION     0.000000
dtype: float64

In [38]:
missing_values_count = df['DISCHARGE_DATE'].isnull().sum()
print(missing_values_count)

4560

In [39]:
# SURGERY_DATE  

# df['SURGERY_DATE'] = pd.to_datetime(df['SURGERY_DATE'])

# df['SURGERY_DATE'] = df['SURGERY_DATE'].dt.date
# Check the result
# print(df['SURGERY_DATE'].head())
# print(df['SURGERY_DATE'].dtype)

In [40]:
# print(df['SURGERY_DATE'].dtype)

In [41]:
df.drop(['MORTALITY_DATE'], axis=1, inplace=True)
df.head()

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,D
3,4,45,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Telikipenta,Sarubujjili,...,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,24-08-2013 00:00,27-09-2013 00:00,NO,D
4,5,54,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Thandemvalasa,Srikakulam,...,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,31-08-2013 00:00,02-10-2013 00:00,NO,D

In [42]:
df.shape

(479688, 22)

In [43]:
# df['SURGERY_DATE'] = pd.to_datetime(df['SURGERY_DATE']).dt.normalize()

In [44]:
# Check the result
# print(df['SURGERY_DATE'].head())

In [45]:
# print(df['SURGERY_DATE'].dtype) /

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479688 entries, 0 to 479687
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sno               479688 non-null  int64
 1   AGE               479688 non-null  int64
 2   SEX               479688 non-null  object
 3   CASTE_NAME        479688 non-null  object
 4   CATEGORY_CODE     479688 non-null  object
 5   CATEGORY_NAME     479688 non-null  object
 6   SURGERY_CODE      479688 non-null  object
 7   SURGERY           479688 non-null  object
 8   VILLAGE           479688 non-null  object
 9   MANDAL_NAME       479688 non-null  object
 10  DISTRICT_NAME     479688 non-null  object
 11  PREAUTH_DATE      479688 non-null  object
 12  PREAUTH_AMT       479688 non-null  int64
 13  CLAIM_DATE        479688 non-null  object
 14  CLAIM_AMOUNT      479688 non-null  int64
 15  HOSP_NAME         479688 non-null  object
 16  HOSP_TYPE         479688 non-null  object
 17  HOSP_DISTRICT     479688 non-null  object
 18  SURGERY_DATE      479688 non-null  object
 19  DISCHARGE_DATE    475128 non-null  object
 20  Mortality Y / N   479688 non-null  object
 21  SRC_REGISTRATION  479688 non-null  object
dtypes: int64(4), object(18)
memory usage: 80.5+ MB

In [47]:
import pandas as pd

# Function to clean and standardize a date column
def clean_date_column(df, column_name):
    # Convert the column to datetime format, allowing multiple date formats
    df[column_name] = pd.to_datetime(df[column_name], errors='coerce', dayfirst=True)
    # Format the dates to "DD/MM/YYYY" and remove the time part
    df[column_name] = df[column_name].dt.strftime('%d/%m/%Y')
    return df

In [48]:
column_to_clean = 'CLAIM_DATE'  
df = clean_date_column(df, column_to_clean)

In [50]:
print(df.head())

   Sno  AGE     SEX CASTE_NAME CATEGORY_CODE CATEGORY_NAME SURGERY_CODE  \
0    1   56  Female         BC            M6    NEPHROLOGY         M6.5
1    2   37    Male         BC            M6    NEPHROLOGY         M6.5
2    3   50    Male         BC            M6    NEPHROLOGY         M6.5
3    4   45    Male         BC            M6    NEPHROLOGY         M6.5
4    5   54    Male         BC            M6    NEPHROLOGY         M6.5

                            SURGERY        VILLAGE  MANDAL_NAME  ...  \
0  Maintenance Hemodialysis For Crf         Lolugu      Ponduru  ...
1  Maintenance Hemodialysis For Crf      Borivanka       Kaviti  ...
2  Maintenance Hemodialysis For Crf    Kapasakuddi       Kaviti  ...
3  Maintenance Hemodialysis For Crf    Telikipenta  Sarubujjili  ...
4  Maintenance Hemodialysis For Crf  Thandemvalasa   Srikakulam  ...

  PREAUTH_AMT  CLAIM_DATE  CLAIM_AMOUNT  \
0       12500  22/03/2017         11000
1       12500  22/03/2017         11000
2       12500  22/03/2017         11500
3       12500  22/03/2017         11000
4       12500  22/03/2017         11000

                                 HOSP_NAME  HOSP_TYPE HOSP_DISTRICT  \
0  Rims Govt. General Hospital, Srikakulam          G    Srikakulam
1  Rims Govt. General Hospital, Srikakulam          G    Srikakulam
2  Rims Govt. General Hospital, Srikakulam          G    Srikakulam
3  Rims Govt. General Hospital, Srikakulam          G    Srikakulam
4  Rims Govt. General Hospital, Srikakulam          G    Srikakulam

       SURGERY_DATE    DISCHARGE_DATE Mortality Y / N SRC_REGISTRATION
0  06-08-2013 00:00  07-09-2013 00:00              NO                D
1  08-08-2013 00:00  09-09-2013 00:00              NO                D
2  15-08-2013 00:00  18-10-2013 00:00              NO                D
3  24-08-2013 00:00  27-09-2013 00:00              NO                D
4  31-08-2013 00:00  02-10-2013 00:00              NO                D

[5 rows x 22 columns]

In [52]:
df.CLAIM_DATE.head()

0    22/03/2017
1    22/03/2017
2    22/03/2017
3    22/03/2017
4    22/03/2017
Name: CLAIM_DATE, dtype: object

In [54]:
column_to_clean = 'PREAUTH_DATE'  
df = clean_date_column(df, column_to_clean)

In [55]:
df.PREAUTH_DATE.head()

0    03/08/2013
1    06/08/2013
2    09/08/2013
3    24/08/2013
4    28/08/2013
Name: PREAUTH_DATE, dtype: object

In [56]:
column_to_clean = 'SURGERY_DATE'  
df = clean_date_column(df, column_to_clean)

In [57]:
df.SURGERY_DATE.head()

0    06/08/2013
1    08/08/2013
2    15/08/2013
3    24/08/2013
4    31/08/2013
Name: SURGERY_DATE, dtype: object

In [58]:
column_to_clean = 'DISCHARGE_DATE'  
df = clean_date_column(df, column_to_clean)

In [59]:
df.DISCHARGE_DATE.head()

0    07/09/2013
1    09/09/2013
2    18/10/2013
3    27/09/2013
4    02/10/2013
Name: DISCHARGE_DATE, dtype: object

In [60]:
df.isnull().mean()*100

Sno                 0.000000
AGE                 0.000000
SEX                 0.000000
CASTE_NAME          0.000000
CATEGORY_CODE       0.000000
CATEGORY_NAME       0.000000
SURGERY_CODE        0.000000
SURGERY             0.000000
VILLAGE             0.000000
MANDAL_NAME         0.000000
DISTRICT_NAME       0.000000
PREAUTH_DATE        0.000000
PREAUTH_AMT         0.000000
CLAIM_DATE          0.000000
CLAIM_AMOUNT        0.000000
HOSP_NAME           0.000000
HOSP_TYPE           0.000000
HOSP_DISTRICT       0.000000
SURGERY_DATE        0.000000
DISCHARGE_DATE      0.951035
Mortality Y / N     0.000000
SRC_REGISTRATION    0.000000
dtype: float64

In [61]:
# Replace null or blank values with the mode in the 'currency' column
mode_value = df['DISCHARGE_DATE'].mode()[0]  
df['DISCHARGE_DATE'] = df['DISCHARGE_DATE'].fillna(mode_value) 
df['DISCHARGE_DATE'] = df['DISCHARGE_DATE'].replace(r'^\s*$', mode_value, regex=True)

In [62]:
df['DISCHARGE_DATE'].value_counts()

29/05/2017    6326
20/03/2017    1668
24/04/2017    1652
24/07/2017    1627
08/05/2017    1624
              ...
01/06/2015       1
14/07/2015       1
27/06/2015       1
08/07/2015       1
07/09/2013       1
Name: DISCHARGE_DATE, Length: 917, dtype: int64

In [63]:
df.isnull().mean()*100

Sno                 0.0
AGE                 0.0
SEX                 0.0
CASTE_NAME          0.0
CATEGORY_CODE       0.0
CATEGORY_NAME       0.0
SURGERY_CODE        0.0
SURGERY             0.0
VILLAGE             0.0
MANDAL_NAME         0.0
DISTRICT_NAME       0.0
PREAUTH_DATE        0.0
PREAUTH_AMT         0.0
CLAIM_DATE          0.0
CLAIM_AMOUNT        0.0
HOSP_NAME           0.0
HOSP_TYPE           0.0
HOSP_DISTRICT       0.0
SURGERY_DATE        0.0
DISCHARGE_DATE      0.0
Mortality Y / N     0.0
SRC_REGISTRATION    0.0
dtype: float64

In [64]:
# now saving dataset

In [65]:
df.head()

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,12500,22/03/2017,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06/08/2013,07/09/2013,NO,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,12500,22/03/2017,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08/08/2013,09/09/2013,NO,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,12500,22/03/2017,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15/08/2013,18/10/2013,NO,D
3,4,45,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Telikipenta,Sarubujjili,...,12500,22/03/2017,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,24/08/2013,27/09/2013,NO,D
4,5,54,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Thandemvalasa,Srikakulam,...,12500,22/03/2017,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,31/08/2013,02/10/2013,NO,D

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479688 entries, 0 to 479687
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sno               479688 non-null  int64
 1   AGE               479688 non-null  int64
 2   SEX               479688 non-null  object
 3   CASTE_NAME        479688 non-null  object
 4   CATEGORY_CODE     479688 non-null  object
 5   CATEGORY_NAME     479688 non-null  object
 6   SURGERY_CODE      479688 non-null  object
 7   SURGERY           479688 non-null  object
 8   VILLAGE           479688 non-null  object
 9   MANDAL_NAME       479688 non-null  object
 10  DISTRICT_NAME     479688 non-null  object
 11  PREAUTH_DATE      479688 non-null  object
 12  PREAUTH_AMT       479688 non-null  int64
 13  CLAIM_DATE        479688 non-null  object
 14  CLAIM_AMOUNT      479688 non-null  int64
 15  HOSP_NAME         479688 non-null  object
 16  HOSP_TYPE         479688 non-null  object
 17  HOSP_DISTRICT     479688 non-null  object
 18  SURGERY_DATE      479688 non-null  object
 19  DISCHARGE_DATE    479688 non-null  object
 20  Mortality Y / N   479688 non-null  object
 21  SRC_REGISTRATION  479688 non-null  object
dtypes: int64(4), object(18)
memory usage: 80.5+ MB

In [67]:
df.to_csv('C:/AndhraPradesh/AndhraP_Health_Insurance.csv')